
.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px 120px;
}

.logo-container {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 55px;
  margin-top: 30px;

}

.logo-text {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 20px 10px;
}

.intro-text {
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy-points {
  color: white;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -3.5px;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h4 {
  color: #FFFFFF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  letter-spacing: -6.5px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}