<!-- Container div for the entire page -->
<div class="container">
    <div class="header">
        <div class="header-flex-container">
            <button class="div0">
                <h1>MEMEY</h1>
            </button>
            <button class="div1">
                <h2>HOME</h2>
            </button>
            <button class="div2">
                <h2>ENTER THY DUNGEON</h2>
            </button>
            <button class="div3">
                <h2>ABOUT US</h2>
            </button>
        </div>
    </div>
    <div class="nav">
        <div class="div4">
            <h2>NEW FEATURES COMING SOON!</h2>
        </div>
        <div class="rounded-box"></div>
    </div>
    <div class="content">
    </div>
    <div class="ads">
        <div class="div5">
            <h2>BOXES FOR NOW ...</h2>
        </div>
        <div class="ad-box"></div>
        <div class="ad-box"></div>
    </div>
</div>
