.container {
  display: grid;
  grid-template-columns: 21rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "nav content";
  min-height: 100vh;
}

.header {
  grid-area: header;
  padding: 4.5rem;
  background-color: yellow;
  border: 2px solid black; /* Adjust as needed */
}

.nav {
  grid-area: nav;
  padding: 3rem;
  background-color:blue;
  display: flex;
  justify-content: center; /* Horizontally align the content to the center */
}

.nav h2 {
  text-align: center; /* Center the text */
  font-size: 22px;
  margin: auto;
}

.content h2 {
  font-size: 22px;
  margin-top: 50px;
  margin-right: 100px;
}

.rounded-box {
  margin-top: 90px;
  width: 90%;  /* Adjust as needed */
  height: 80%;  /* Adjust as needed */
  background-color: #ff0000;
  border-radius: 20px;
}

.rounded-box h2 {
  display: inline-block;
}

.small-rounded-box {
  width: 60%;  /* Adjust as needed */
  height: 50%;  /* Adjust as needed */
  background-color: #ff0000;
  border-radius: 20px;
}

.content {
  grid-area: content;
  padding: 3rem;
  background-color: rgb(17, 17, 17);
  position: relative;
  justify-content: space-between; /* Add space between the inner-div and small-rounded-box */

}

.adspane {
  grid-area: sidebar;
  padding: 3rem;
  background-color: purple;
  display: flex;
  justify-content: center; /* Horizontally align the content to the center */
}

.adspane h2 {
  text-align: center; /* Center the text */
  font-size: 22px;
  margin: auto;
}

.adspane .rounded-box {
  width: 100%;  /* Adjust as needed */
  height: 40%;  /* Adjust as needed */
  background-color: red;
  border-radius: 20px;
}

@media (max-width: 975px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;

    grid-template-areas: 
      "header"
      "content"
  }
  .nav {
    display: none;
  }
}

.div0 { 
    top: 55px;
    width: 100%;
    height: 100px; 
    display:inline-block; 
    position:fixed; 
    left:45px; 
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .div1 { 
    display:block; 
    left:325px; 
    top:55px;
    position:fixed;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .div2 { 
    display:block; 
    left:450px; 
    top:55px;
    position:fixed;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .div3 { 
    display:block; 
    left:810px; 
    top:55px;
    position:fixed; 
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 60px;
    letter-spacing: -6.5px;
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    line-height: 40px; /* add this line */
    display: flex;  /* change from inline-block to flex */
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: -2px;
    margin-right: 4px;
    }
  
  h2
  {
    position: fixed;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 27px;
    letter-spacing: -0.6px;
    word-spacing: -1px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
  }

  .line:hover {
    cursor: url('/assets/cursor4.png'), auto;
  }
  
  .line {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    border-width: 10px;
  }
  
  .line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5px;
    transition: all 0.3s ease;
  }
  
  .line.red::before {
    background-color: #ED3833; /* Red color */
  }
  
  .line.blue::before {
    background-color: #1645F5; /* Blue color */
  }
  
  .line.green::before {
    background-color: #F0F14E; /* Blue color */
  }
  
  
  .line:hover::before {
    width: 0%;
    transition: width 0.3s ease;
  }
  
  .line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4.5px;
    transition: all 0.3s ease;
  }
  
  .line.red::after {
    background-color: #ED3833; /* Red color */
  }
  
  .line.blue::after {
    background-color: #1645F5; /* Blue color */
  }
  
  
  .line.green::after {
    background-color: #F0F14E; /* Blue color */
  }
  
  .line:hover::after {
    width: 100%;
    transition: width 0.3s ease 0.3s; /* Starts transition after a delay of 0.3s */
  }

.inner-div {
  display: flex;
  position: absolute; /* This positions the div relative to the nearest positioned ancestor */
  justify-content: space-between; /* This will put some space between the items */
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-color: rgb(17, 17, 17);
  overflow: auto;
}  

.memes-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* change to start to avoid vertical centering */
    /* change width to be 100% to fit the container size */
    gap: 40px;  
  }
  
  .meme-image {
    width: 725px;
    height: 700px;
    object-fit: cover;
    border-top: 40px solid #1645F5; /* Adjust the width and color as needed */
    border-bottom: 40px solid #1645F5; /* Adjust the width and color as needed */
}

.new-rounded-box, .new-rounded-box2 {
  margin-top: 30px;
  width: 200px;
  height: 28%; 
  border-radius: 20px;
}

.new-rounded-box {
  background-color: yellow;
}

.new-rounded-box2 {
  background-color: blue;
}

.box-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;  
  align-items: center; /* To center the boxes horizontally */
}

.box-container {
  display: flex;
  position: fixed; 
  right: 0; 
  top: 0; 
  height: 100%; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.box-container {
  position: fixed; 
  right: 0; 
  top: auto; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-title {
  text-align: center;  /* This centers the text */
  padding: 10px;  /* Adjust as needed */
  margin-bottom: 20px;  /* Adjust as needed */
}