.container1 {  
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "nav content"
    "nav content";
  min-height: 100vh;
}

.header { 
  grid-area: header;
  background-color:#FFBF00;
  display: flex;
  flex-direction: row;
}

.nav { 
  grid-area: nav;
  background-color:blue;
  display: flex;
  flex-direction: column;
}

.content { 
  grid-area: content;
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
}

.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  width: 350px;
  height: auto;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.div0 {
  display: inline-block;
  background: none;
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 55px;
  margin-right: 45px;
  cursor: pointer;
}

.div1 {
  display: inline-block;
  background: none;
  border: none;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 55px;
  cursor: pointer;
}

.div2 {
  display: inline-block;
  background: none;
  border: none;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 55px;
  cursor: pointer;
}

.div3 {
  display: inline-block;
  background: none;
  border: none;
  margin-top: 55px;
  margin-bottom: 10px;
  cursor: pointer;
}

.div4 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 65px;
  margin-bottom: 20px;
}

.div5 {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 80px;
}

.nav-rounded-box {
  display: flex;
  flex-direction: column;
  width: 50%;  /* Adjust as needed */
  height: 70%;  /* Adjust as needed */
  background-color: #ff0000;
  border-radius: 10px;
  margin-left: 85px;
  align-items: center;
}

.navi-button {
  display: inline-block;
  background-color: black;
  margin-top: 25px;
  cursor: pointer;
  width: 130px;
  height: auto;
  border-radius: 2px;
}

.legal-container {
  display: flex;
  flex-direction: row;
  background-color: none;
  margin-top: 50px;
  margin-left: 64px;
}

.dmca-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

.terms-of-service-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

.infinite-scroll-container {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.meme-image {
  height: 100%;
  width: 610px;
  margin-bottom: 20px;
}

.heading-style {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: -0.6px;
  word-spacing: -1px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1.heading-style {
  font-size: 60px;
  letter-spacing: -6.5px;
}

h2.heading-style {
  font-size: 27px;
}

h3.heading-style {
  font-size: 18px;
}

h4.heading-style {
  font-size: 14px;
}

  .line:hover {
    cursor: url('/assets/cursor4.png'), auto;
  }
  
  .line {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    border-width: 10px;
  }
  
  .line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5px;
    transition: all 0.3s ease;
  }
  
  .line.red::before {
    background-color: #ED3833; /* Red color */
  }
  
  .line.blue::before {
    background-color: #1645F5; /* Blue color */
  }
  
  .line.green::before {
    background-color: yellow; /* Blue color */
  }
  
  .line:hover::before {
    width: 0%;
    transition: width 0.3s ease;
  }
  
  .line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4.5px;
    transition: all 0.3s ease;
  }
  
  .line.red::after {
    background-color: #ED3833; /* Red color */
  }
  
  .line.blue::after {
    background-color: #1645F5; /* Blue color */
  }
  
  
  .line.green::after {
    background-color: yellow; /* Blue color */
  }
  
  .line:hover::after {
    width: 100%;
    transition: width 0.3s ease 0.3s; /* Starts transition after a delay of 0.3s */
  }