<!-- Container div for the entire page -->
<div class="container1">
    <div class="header">
            <button class="div0" (click)="pageReload()">
                <h1>MEMEY</h1>
            </button>
            <button class="div1" (click)="pageReload()">
                <h2 class="line blue">HOME</h2>
            </button>
            <button class="div2" (click)="navigateToDungeon()">
                <h2 class="line red">ENTER THY DUNGEON</h2>
            </button>
            <button class="div3" (click)="navigateToAboutUs()">
                <h2 class="line green">ABOUT US</h2>
            </button>
    </div>
    <div class="nav">
        <div class="div4">
            <h2>NEW FEATURES COMING SOON!</h2>
        </div>
        <div class="nav-rounded-box">
            <button class="nav-button">
                <h3>Popular</h3>
            </button>
            <button class="nav-button">
                <h3>Sports</h3>
            </button>
            <button class="nav-button">
                <h3>Dank</h3>
            </button>
            <button class="nav-button">
                <h3>Dark Mode</h3>
            </button>
            <button class="nav-button">
                <h3>Color Mode</h3>
            </button>
        </div>
    </div>
    <div class="content">
            <div class="infinite-scroll-container" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollDown()">
           <div *ngFor="let meme of memeImages" style="display: inline-block;">
               <img class="meme-image" [src]="meme.imageUrl">
           </div>
    </div>
</div>