<!-- Container div for the entire page -->
<div class="container">
    <div class="header">
            <button class="div0">
                <h1>MEMEY</h1>
            </button>
            <button class="div1">
                <h2>HOME</h2>
            </button>
            <button class="div2">
                <h2>ENTER THY DUNGEON</h2>
            </button>
            <button class="div3">
                <h2>ABOUT US</h2>
            </button>
    </div>
    <div class="nav">
        <div class="div4">
            <h2>NEW FEATURES COMING SOON!</h2>
        </div>
        <div class="nav-rounded-box"></div>
    </div>
    <div class="content">
            <div class="infinite-scroll-container" infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollDown()">
           <div *ngFor="let meme of memeImages">
               <img class="meme-image" [src]="meme.imageUrl">
           </div>
    </div>
</div>