.center-screen {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100vh;
}  

h1
{
  color: #FFFFFF;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: -1px;
}