 .page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

 #problemPage {
  background-color: rgb(17, 17, 17);
}

 #solutionPage {
  background-color: rgb(17, 17, 17);
}

 #joinPage {
  background-color: rgb(17, 17, 17);
}

.div1 { 
  top: 30px;
  width: 100%;
  height: 100px; 
  display:inline-block; 
  position:fixed; 
  left:37px; 
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 60px;
  letter-spacing: -6.5px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  line-height: 40px; /* add this line */
  display: flex;  /* change from inline-block to flex */
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: -2px;
  margin-right: 4px;
  }

h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 27px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.paragraph {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 23px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.bullet-points {
    list-style-type: none;
    margin-left: 20px;
}
  
.bullet-points li {
    margin-top: 10px;
    font-size: 20px;
}

.submit-button {
    display: inline-block;
    margin-top: 15px;
    background-color: yellowgreen;
}