<!-- Problem Page -->

<div class="page" id="problemPage" data-aos="fade-down" data-aos-duration="1800">
  <button class="div1" (click)="navigateToHome()">
    <h1>MEMEY</h1>
  </button>
  <h2>👋 Welcome:</h2>
  <ul class="bullet-points">
    <li class="paragraph">Welcome to Memey, a site where the goal is fun 🎢.</li>
  </ul>
</div>

<!-- Solution Page -->
<div class="page" id="solutionPage" data-aos="fade-left" data-aos-duration="1800">
  <h2>🤠 Purpose: None</h2>
  <ul class="bullet-points">
    <li class="paragraph">We're not trying to solve any problem (or save the world).</li>
    <li class="paragraph">Our ethos is simple: provide a place of joy and amusement, no purpose needed.</li>
  </ul>
</div>

<div class="page" id="joinPage" data-aos="fade-right" data-aos-duration="1800">
  <h2>🎉 Join Us:</h2>
  <ul class="bullet-points">
    <li class="paragraph">We'll keep you updated on the fun stuff we're creating. 😎</li>
    <li class="paragraph">Thanks for sharing in the joy of Memey with us.</li>


    <form #usersEmail="ngForm" style="margin-top: 30px;" (ngSubmit)="OnSubmit(usersEmail)">
      <div class="form-group">
        <label style="color: white; font-weight: 400;">Email Address:</label>
        <input type="email" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" 
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control" name="primaryEmail" 
        [(ngModel)]="userModel.primaryAddress"/>
      </div>
      <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
        <small class="text-danger" *ngIf="firstEmail.errors['pattern']">Please provide a valid email address</small>
      </div>
      <button class="submit-button" type="submit">
        <h2>Submit</h2>
      </button>
    </form>
    <button class="submit-button" type="submit" (click)="navigateToHome()"> 
      <h2>Return Home</h2>
    </button>
  </ul>
</div>