<!-- Problem Page -->

<div class="page" id="problemPage" data-aos="fade-down" data-aos-duration="1800">
  <button class="div1" (click)="navigateToHome()">
    <h1>MEMEY</h1>
  </button>
  <h2>🤔 The Problem:</h2>
  <ul class="bullet-points">
    <li class="paragraph">Today's internet is like a wild rollercoaster ride 🎢.</li>
    <li class="paragraph">It's jam-packed with news, social media, ads, and a million other things.</li>
    <li class="paragraph">One minute you're laughing 😂, the next you're shocked 😱 or stressed 😰.</li>
  </ul>
</div>

<!-- Solution Page -->
<div class="page" id="solutionPage" data-aos="fade-left" data-aos-duration="1800">
  <h2>😏 The Solution: Memey</h2>
  <ul class="bullet-points">
    <li class="paragraph">Ever dreamed of an online space purely for fun?</li>
    <li class="paragraph">That's what Memey is all about.</li>
    <li class="paragraph">Our goal is simple: to provide a space for pure enjoyment and laughter. 🎉</li>
  </ul>
</div>

<div class="page" id="joinPage" data-aos="fade-right" data-aos-duration="1800">
  <h2>👋 Join Us:</h2>
  <ul class="bullet-points">
    <li class="paragraph">Subscribe to our Mailing List! 🎈🎊</li>

    <form #usersEmail="ngForm" style="margin-top: 30px;" (ngSubmit)="OnSubmit(usersEmail)">
      <div class="form-group">
        <label style="color: white; font-weight: 400;">Email Address:</label>
        <input type="email" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" 
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control" name="primaryEmail" 
        [(ngModel)]="userModel.primaryAddress"/>
      </div>
      <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
        <small class="text-danger" *ngIf="firstEmail.errors['pattern']">Please provide a valid email address</small>
      </div>
      <button class="submit-button" type="submit">
        <h2>Submit</h2>
      </button>
    </form>    
  </ul>
</div>