.dungeon-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 4fr;
  grid-template-areas:
    "header"
    "content";;
  height: 100vh;
}

.header1 { 
  grid-area: header;
  background-color:#212529;
  display: flex;
  flex-direction: row;
}

.content {
  grid-area: content;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden;
}

.header-divs {
  background: none;
  border: none;
  cursor: pointer;
}

.div0 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 45px;
}

.div1 {
  display: inline-block;
  margin-top: 35px;
  margin-right: 20px;
}

.div2 {
  display: inline-block;
  margin-top: 35px;
  margin-right: 20px;
}

.div3 {
  display: inline-block;
  margin-top: 35px;
  margin-right: 110px;
}

.heading-style {
  font-style: normal;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 400;
  font-variant: normal;
  letter-spacing: -0.6px;
  word-spacing: -1px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

h1.heading-style {
  font-size: 60px;
  letter-spacing: -6.5px;
}

h2.heading-style {
  font-size: 27px;
}

.transition {
  transition: opacity 2.3s;
  opacity: 0;
}

.line:hover {
  cursor: url('/assets/cursor4.png'), auto;
}

.line {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  border-width: 10px;
}

.line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.5px;
  transition: all 0.3s ease;
}

.line.red::before {
  background-color: #ED3833; /* Red color */
}

.line.blue::before {
  background-color: #1645F5; /* Blue color */
}

.line.green::before {
  background-color: yellow; /* Orange color */
}


.line:hover::before {
  width: 0%;
  transition: width 0.3s ease;
}

.line::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 4.5px;
  transition: all 0.3s ease;
}

.line.red::after {
  background-color: #ED3833; /* Red color */
}

.line.blue::after {
  background-color: #1645F5; /* Blue color */
}


.line.green::after {
  background-color: yellow; /* Orange color */
}

.line:hover::after {
  width: 100%;
  transition: width 0.3s ease 0.3s; /* Starts transition after a delay of 0.3s */
}