 <div class="outer-div">
  <div #scrollableDiv class="inner-div" (scroll)="onScroll($event)">
    <div class="div1" (click)="pageReload()">
      <div [ngClass]="{ 'hide-contents': shouldHideContents, 'show': !shouldHideContents }">
        <h1>MEMEY</h1>
      </div>
    <div class="div2" (click)="pageReload()">
        <div [ngClass]="{ 'hide-contents': shouldHideContents, 'show': !shouldHideContents }">
          <h2 class="line red">ENTER THY DUNGEON</h2>
        </div>
    </div>
    <button class="div3" (click)="navigateToAboutUs()">
      <div [ngClass]="{ 'hide-contents': shouldHideContents, 'show': !shouldHideContents }">
        <h2 class="line green">ABOUT US</h2>
      </div>
    </button>
  </div>
    <ngx-masonry [options]="masonryOptions" style="width: 500%; margin: 30; top:310px; left: 0px;" [ordered]="true">
      <div ngxMasonryItem *ngFor="let image of masonryImages;index as idx" style="width: 6.0%; position: relative; margin: 6px;">
        <div #colorDiv [ngStyle]="{'position': 'absolute', 'top': '0', 'right': '0', 'bottom': '0', 'left': '0', 'background': image.color, 'z-index': '2'}"> </div> <!-- color div -->
        <img class="image-container" [attr.src]="image.imageUrl" width="100%" style="z-index: 1">
      </div>
    </ngx-masonry>
  </div>
</div>
