<div>
    <button class="logo-container" (click)="navigateToHome()">
        <h4 class="logo-text">MEMEY</h4>
    </button>
    <div class="main-container">
        <h1>Privacy Policy for Memey</h1>
        <p class="intro-text">AT MEMEY, ACCESSIBLE FROM HTTPS://MEMEY.APP/, ONE OF OUR MAIN PRIORITIES IS THE PRIVACY OF OUR VISITORS. THIS PRIVACY POLICY DOCUMENT CONTAINS TYPES OF INFORMATION THAT IS COLLECTED AND RECORDED BY MEMEY AND HOW WE USE IT. IF YOU HAVE ADDITIONAL QUESTIONS OR REQUIRE MORE INFORMATION ABOUT OUR PRIVACY POLICY, DO NOT HESITATE TO CONTACT US.</p>

        <h2>General Data Protection Regulation (GDPR)</h2>
        <p style="color: white;">WE ARE A DATA CONTROLLER OF YOUR INFORMATION. MEMEY LEGAL BASIS FOR COLLECTING AND USING THE PERSONAL INFORMATION DESCRIBED IN THIS PRIVACY POLICY DEPENDS ON THE PERSONAL INFORMATION WE COLLECT AND THE SPECIFIC CONTEXT IN WHICH WE COLLECT THE INFORMATION:</p>

        <ul class="policy-points">
            <li>Memey needs to perform a contract with you</li>
            <li>You have given Memey permission to do so</li>
            <li>Processing your personal information is in Memey legitimate interests</li>
            <li>Memey needs to comply with the law</li>
        </ul>

        <p style="color: white;">Memey will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.</p>
        <p style="color: white;">If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us. In certain circumstances, you have the following data protection rights:</p>

        <ul class="policy-points">
            <li>
                <strong>Right to Access, Update, or Delete Information: </strong>
                You have the right to access, update, or delete the information we have on you.
            </li>
            <li>
                <strong>Right of Rectification: </strong>
                You have the right to have your information rectified if that information is inaccurate or incomplete.
            </li>
            <li>
                <strong>Right to Object: </strong>
                You have the right to object to our processing of your personal information.
            </li>
            <li>
                <strong>Right of Restriction: </strong>
                You have the right to request that we restrict the processing of your personal information.
            </li>
            <li>
                <strong>Right to Data Portability: </strong>
                You have the right to be provided with a copy of the information we have on you in a structured, machine-readable, and commonly used format.
            </li>
            <li>
                <strong>Right to Withdraw Consent: </strong>
                You also have the right to withdraw your consent at any time where we relied on your consent to process your personal information.
            </li>
        </ul>
        
        <h2>Log Files</h2>
        <p style="color: white;">MEMEY FOLLOWS A STANDARD PROCEDURE OF USING LOG FILES. THESE FILES LOG VISITORS WHEN THEY VISIT WEBSITES. ALL HOSTING COMPANIES DO THIS AS A PART OF HOSTING SERVICES' ANALYTICS. THE INFORMATION COLLECTED BY LOG FILES INCLUDES INTERNET PROTOCOL (IP) ADDRESSES, BROWSER TYPE, INTERNET SERVICE PROVIDER (ISP), DATE AND TIME STAMP, REFERRING/EXIT PAGES, AND POSSIBLY THE NUMBER OF CLICKS. THESE ARE NOT LINKED TO ANY INFORMATION THAT IS PERSONALLY IDENTIFIABLE. THE PURPOSE OF THE INFORMATION IS FOR ANALYZING TRENDS, ADMINISTERING THE SITE, TRACKING USERS' MOVEMENT ON THE WEBSITE, AND GATHERING DEMOGRAPHIC INFORMATION.</p>

        <h2>COOKIES AND WEB BEACONS</h2>
        <p style="color: white;">LIKE ANY OTHER WEBSITE, MEMEY USES "COOKIES". THESE COOKIES ARE USED TO STORE INFORMATION INCLUDING VISITORS' PREFERENCES, AND THE PAGES ON THE WEBSITE THAT THE VISITOR ACCESSED OR VISITED. THE INFORMATION IS USED TO OPTIMIZE THE USERS' EXPERIENCE BY CUSTOMIZING OUR WEB PAGE CONTENT BASED ON VISITORS' BROWSER TYPE AND/OR OTHER INFORMATION.</p>
        
        <h2>GOOGLE DOUBLECLICK DART COOKIE</h2>
        <p style="color: white;">GOOGLE IS ONE OF A THIRD-PARTY VENDOR ON OUR SITE. IT ALSO USES COOKIES, KNOWN AS DART COOKIES, TO SERVE ADS TO OUR SITE VISITORS BASED UPON THEIR VISIT TO WWW.WEBSITE.COM AND OTHER SITES ON THE INTERNET. HOWEVER, VISITORS MAY CHOOSE TO DECLINE THE USE OF DART COOKIES BY VISITING THE GOOGLE AD AND CONTENT NETWORK PRIVACY POLICY AT THE FOLLOWING URL – HTTPS://POLICIES.GOOGLE.COM/TECHNOLOGIES/ADS</p>
        
        <h2>PRIVACY POLICIES</h2>
        <p style="color: white;">YOU MAY CONSULT THIS LIST TO FIND THE PRIVACY POLICY FOR EACH OF THE ADVERTISING PARTNERS OF MEMEY. THIRD-PARTY AD SERVERS OR AD NETWORKS USE TECHNOLOGIES LIKE COOKIES, JAVASCRIPT, OR WEB BEACONS THAT ARE USED IN THEIR RESPECTIVE ADVERTISEMENTS AND LINKS THAT APPEAR ON MEMEY, WHICH ARE SENT DIRECTLY TO USERS' BROWSER. THEY AUTOMATICALLY RECEIVE YOUR IP ADDRESS WHEN THIS OCCURS. THESE TECHNOLOGIES ARE USED TO MEASURE THE EFFECTIVENESS OF THEIR ADVERTISING CAMPAIGNS AND/OR TO PERSONALIZE THE ADVERTISING CONTENT THAT YOU SEE ON WEBSITES THAT YOU VISIT. NOTE THAT MEMEY HAS NO ACCESS TO OR CONTROL OVER THESE COOKIES THAT ARE USED BY THIRD-PARTY ADVERTISERS.</p>
        
        <h2>THIRD PARTY PRIVACY POLICIES</h2>
        <p style="color: white;">MEMEY'S PRIVACY POLICY DOES NOT APPLY TO OTHER ADVERTISERS OR WEBSITES. THUS, WE ARE ADVISING YOU TO CONSULT THE RESPECTIVE PRIVACY POLICIES OF THESE THIRD-PARTY AD SERVERS FOR MORE DETAILED INFORMATION. IT MAY INCLUDE THEIR PRACTICES AND INSTRUCTIONS ABOUT HOW TO OPT-OUT OF CERTAIN OPTIONS.
            YOU CAN CHOOSE TO DISABLE COOKIES THROUGH YOUR INDIVIDUAL BROWSER OPTIONS. TO KNOW MORE DETAILED INFORMATION ABOUT COOKIE MANAGEMENT WITH SPECIFIC WEB BROWSERS, IT CAN BE FOUND AT THE BROWSERS' RESPECTIVE WEBSITES.</p>

        <h2>CHILDREN'S INFORMATION</h2>
        <p style="color: white;">ANOTHER PART OF OUR PRIORITY IS ADDING PROTECTION FOR CHILDREN WHILE USING THE INTERNET. WE ENCOURAGE PARENTS AND GUARDIANS TO OBSERVE, PARTICIPATE IN, AND/OR MONITOR AND GUIDE THEIR ONLINE ACTIVITY.
            MEMEY DOES NOT KNOWINGLY COLLECT ANY PERSONAL IDENTIFIABLE INFORMATION FROM CHILDREN UNDER THE AGE OF 13. IF YOU THINK THAT YOUR CHILD PROVIDED THIS KIND OF INFORMATION ON OUR WEBSITE, WE STRONGLY ENCOURAGE YOU TO CONTACT US IMMEDIATELY AND WE WILL DO OUR BEST EFFORTS TO PROMPTLY REMOVE SUCH INFORMATION FROM OUR RECORDS.</p>

        <h2>ONLINE PRIVACY POLICY ONLY</h2>
        <p style="color: white;">OUR PRIVACY POLICY APPLIES ONLY TO OUR ONLINE ACTIVITIES AND IS VALID FOR VISITORS TO OUR WEBSITE WITH REGARDS TO THE INFORMATION THAT THEY SHARED AND/OR COLLECT IN MEMEY. THIS POLICY IS NOT APPLICABLE TO ANY INFORMATION COLLECTED OFFLINE OR VIA CHANNELS OTHER THAN THIS WEBSITE.</p>
        
    </div>
</div>