<div class="container1">
    <div appTheme class="header">
            <button class="header-divs div0" (click)="pageReload()">
                <h1 class="heading-style">MEMEY</h1>
            </button>
            <button class="header-divs div1" (click)="pageReload()">
                <h2 class="heading-style line blue">HOME</h2>
            </button>
            <button class="header-divs div2" (click)="navigateToDungeon()">
                <h2 class="heading-style line red">ENTER THY DUNGEON</h2>
            </button>
            <button class="header-divs div3" (click)="navigateToAboutUs()">
                <h2 class="heading-style line green">ABOUT US</h2>
            </button>
    </div>

    <div appTheme class="content">
        
    </div>

</div>